{% extends 'layouts/index.twig' %}

{% block content %}
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Platau</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainavbar" aria-controls="mainavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
    <br><br>
    <h1 class="text-center">Access</h1>
    <br><br>
    <p>Votre code est : {{ code }}</p>
    <br>
    <p>Transformation de votre authorization code en un access_token !</p>
    <br>
    <p>Votre acces_token est : {{ token }}</p>
    <div class="d-flex flex-wrap justify-content-center text-center mt-5">
        <a href="/home" class="btn btn-secondary mb-4">Accueil</a>
    </div>
{% endblock %}
