{% extends 'index.twig' %}

{% block content %}
<div class="container text-center mt-3">
  <h1 class="mb-5">Connexion</h1>

  <p>Lien du bouton : <em>{{link}}</em></p>
  <a href={{link}} class="btn btn-link">Se connecter et voir mon profil</a>
</div>
{% endblock %}