{% extends 'layouts/index.twig' %}

{% use 'layouts/navbar.twig' %}
{% block content %}
    <br><br>
    <h1 class="text-center">Notifications</h1>
    <br><br>
    <ul>
        {% for notification in notifications %}
            <li>{{ notification.date_creation|date('Y-m-d') }}</li>
            {% if notification.date_de_lecture is empty or notification.date_de_lecture is null %}
                <li>Non lu</li>
            {% else %}
                <li>{{ notification.date_de_lecture }}</li>
            {% endif %}
            <li class="text-primary">{{ notification.title }}</li>
            {% set msg = notification.message %}
            {% if notification.message|length > 75 %}
                {% set msg = notification.message|slice(0, 75)~'...' %}
            {% endif %}
            <li>{{ msg }}</li>
            <br>
        {% endfor %}
    </ul>
{% endblock %}
