{% extends 'layouts/index.twig' %}

{% use 'layouts/navbar.twig' %}
{% block content %}
    <br><br>
    <h1 class="text-center">Organisation</h1>
    <br><br>
    <div class="d-flex flex-wrap justify-content-center text-center mt-5">
        <form action='/organisation' method='GET' class="border rounded border-dark mx-5 p-5">
                <label class="form-label" for='connect'>Id:
                    <input class="form-control" name="idInsert" value={{ idInsert }}>
                </label>
        </form>
    </div>
{% endblock %}
